h2 {
    color: mediumvioletred;
}

p.p {
    color: royalblue;
}

p.p1 {
    color: green;
}

p.p2 {
    color: darkblue;
}

p.p3 {
    color: rgb(255, 0, 242);
}


span.s1 {
    color: deepskyblue;
}

span.s2 {
    color: deeppink;
}

span.s3 {
    color: #ac0050;
}

span.s4 {
    color: lime;
}

span.s5 {
    color: darkgoldenrod;
}

